coverage
dist
build
node_modules
package-lock.json
obj
bin
.next
.cache
coverage/**
dist/**
build/**
node_modules/**
**/coverage
**/coverage/**
**/dist
**/dist/**
**/build
**/build/**
**/obj
**/obj/**
**/bin
**/bin/**
**/.next
**/.next/**
**/.cache
**/.cache/**
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
